/**
 *
 * 抖腿么 - main.css
 *
 * @author  MaiCong <i@maicong.me>
 * @link    https://github.com/maicong/doutuime
 * @since   0.1.0
 *
 */

body, html {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  font-size: 14px;
  font-family: monospace;
  background-color: #000;
  margin: 0;
}

canvas {
  display: block;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 41px;
  margin: -21px 0 0 -150px;
  color: #fff;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

#loading p {
  margin: 20px 0 0 0;
  line-height: 1.5em;
  text-align: center;
}

#loading p.msg {
  font-size: .9em;
  text-transform: uppercase;
  color: #aaa;
}

#loading.hide {
  display: none;
}

#control {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 15em;
  height: 15em;
  text-align: center;
  padding: 1em;
  margin: auto;
  font-size: 10px;
  color: transparent;
  background: url('doutuime.gif') center no-repeat;
  background-size: 60% auto;
  box-sizing: border-box;
  filter: drop-shadow(0 0 5px #fff);
  cursor: pointer;
}

#control.active {
  display: flex;
}

#control .btn {
  margin-top: 20px;
}

#control .hide {
  display: none;
}

#no-audio {
  display: none;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 140px;
  width: 260px;
  margin: -70px 0 0 -130px;
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid #ff667f;
  border-radius: 3px;
  background: #ff3354;
  color: #ffe5ea;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.3), 0 5px 20px rgba(0, 0, 0, 0.5);
}

#no-audio h1 {
  font-weight: normal;
  font-size: 18px;
  margin-top: 7px;
}

#no-audio p {
  color: #ffccd4;
}

#no-audio a {
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
